
:root,
[data-bs-theme=light] {
  --bs-body-bg: #ffffff;
  --bs-body-color: #494B5B;
  --bs-primary: #215C5C;
  --bs-primary-rgb: 33, 92, 92;
  --bs-primary-hover: #144B4B;
  --bs-primary-hover-rgb: 20, 75, 75;
  --bs-secondary: #CCE8C9;
  --bs-secondary-rgb: 204, 232, 201;
  --bs-heading-color: #16181B;
  --inverse-color: #494B5B;
  --inverse-color-rgb: 73, 75, 91;
  --bs-link-color: var(--bs-primary);
  --nav-bg: #ffffff;
  --nav-color: #fff;
  --nav-hover-color: #1f6bff;
  --dropdown-bg: #ffffff;
  --dropdown-color: #1f6bff;
  --dropdown-hover-bg: #f7f7f7;
  --nav-inverse: #000000;
  --nav-inverse-alt: #ffffff;
}

#nav-main{
  position: sticky;
}
#navbar{
  background-color: var(--nav-bg);
}

.img-card{
  height: 200px;
  width: 400px;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#logo{
    height: 50px;
    width: 200px;
}
    
    #profile{
      text-decoration: none;
      display: flex;
      border-radius: 7px;
    }
    .myProfile{
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
      background-color: #ffffff;
      color: var(--bs-primary);
      font-weight: 500;
      cursor: pointer;
    }
    .proText{
      margin-bottom: 0;
    }
    
    .myProfile:hover{
      .profileIcon{
        background-color: #ffffff;
        color: var(--bs-primary-hover);
        border: 1.5px solid var(--bs-primary);
        transition-duration: 0.4s;
      }
    }
    .profileIcon{
      height: 30px;
      width: 30px;
      background-color: var(--bs-primary);
      color : #ffffff;
      border: 1px solid var(--bs-primary);
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .profileIcon:hover{
      background-color: #ffffff;
      color: var(--bs-primary-hover);
      border: 1.5px solid var(--bs-primary);
      transition-duration: 0.4s;
    }

    #hero-heading{
      font-size: 30px;
      font-weight: 500;
      line-height: 1.2;
    }
    #selector{
      background-color: var(--bs-primary);
    }

    #mission-box{
      margin-bottom: -10px;
    }
    #about-text{
      margin-top: 20px;
    }
    #mission{
      font-size: 15px;
    }
    #mission-Text{
      font-size: 13px;
    }
    #mission-key{
      font-size: 15px;
    }
    #circle-check{
      color: #ffffff;
      font-size: 15px;
    }

    #dropdown{
      font-size: 12px;
    }

    #footer-icon{
      margin-top: 5px;
      margin-right: 10px;
    }


    .review-container{
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;
      display: block;
      justify-content: center;
      align-items: center;
      height: 70vh;
    }
    .review-card{
      display: flex;
      justify-content: center;
      align-items: center;
      height: 80vh;
      width: 100%;
      background-color: var(--bs-primary);
      border-radius: 20px;
    }
    #review-sub-card{
      display: flex;
      justify-items:center;
      align-items: center;
      height: fit-content;
      width: fit-content;
      color: #ffffff;
    }
    .review{
      padding: 20px 20px;
      background-color: var(--bs-secondary);
      border-radius: 20px;
      border: 3px solid var(--bs-primary-hover);
      color: #000000;
    }
    .person{
      display: flex;
      justify-content: start;
      align-items: center;
      gap: 15px;
      margin-bottom: 20px;
    }
    .person-img{
      height: 60px;
      width: 60px;
      border-radius: 60px;
      background-color: #144B4B;
    }

    #contact{
      margin-top: 250px;
    }

    .container p{
      font-size: smaller;
    }

    /* for explore */

    .view-more{
      text-decoration: none;
      color: var(--bs-primary);
      font-weight: 500;
    }

    .view-more:hover{
      color: var(--bs-primary-hover);
      text-decoration: underline;
      transition-duration: 0.4s;
    }

    .explore-section{
      background-color: var(--bs-secondary);
    }
    
    .content-nav{
      background-color: var(--bs-secondary);
    }